page-about {
    @import url('https://fonts.googleapis.com/css?family=Amaranth');
     @import url('https://fonts.googleapis.com/css?family=PT+Serif');

     .icono{
        font-size: 400%;
        color:#85C1E9;
        padding-left: 42%;
        padding-top: 2%;    
    }

    .letras{
    font-size: 75%;
    font-family: 'PT Serif', serif;
    }

    .titulos{
    font-family: 'Amaranth', sans-serif;
    font-size: 60%;
    padding-left: 40%;
    }

    &ion-list{
        padding-top: 100%;
    }

    .arriba{
        color: #FDFEFE;
    }

    


}
